
.div-conta{
   padding-top: 10px;
   padding-bottom: 10px;
  }

.div-sel-conta{
    padding-top: 30px;
    padding-bottom: 10px;
    padding-right: 5%;
    
}

.div-saldo-conta{
  padding-top: 30px;
  padding-bottom: 10px;
  padding-left: 5%;
}